<div id="page">
    <% if(page.count >1) { %>
        <% if(page.number) { %>
            <a id="prev" href="/blist/<%= page.number %>">이전</a>
        <% } %>
        <% if(page.number < page.count -1) { %>
            <% if(page.number) { %>
                &nbsp;&nbsp;
            <% } %>
            <a id="next" href="/blist/<%= page.number + 2 %>">다음</a>
        <% } %>
    <% } %>
</div>