<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href ="/stylesheets/style.css">
</head>
<body>
    
    <%- include('./include/menu') %>

    <h2 id="main">
        <p> ["mysite" UnitProject]</p>
        <p> NodeJS(Express) MVC 컨셉 웹 사이트 만들기</p>
    </h2>

</body>
</html>